h2{
    color: orange;
}
span{
    color: brown;
}
.card{
    height: 700px;
    width: 600px;
    display: flex;
    display: inline-block;
    border: 2px solid black;
    margin: 50px;
    border-radius: 50px;
}
img{
    height: 400px;
    width: 500px;
    padding: 20px;
}
p{
    padding: 10px;
}
.heading{
    text-align: center;
}