#main{
    width: 1100px;
    height: 650px;
    border: 2px solid blue;
    background-color: pink;
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
    gap: 10px;
}
.boxes{
    height: 500px;
    width: 100px;
    border: 2px solid black;
}