#main{
    border: 5px solid blue;
    background-color: whitesmoke;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.boxes{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    background-color: grey;
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
}