h1{
    font-family: system-ui;
    color: #ffa511;
    text-align: center;
    size: 55px;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 1.5;
    text-decoration: double underline;
    text-transform: uppercase;
}