/* #mainTopic{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
*{
    text-align: center;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.para{
    color: white;
    background-color: cornflowerblue;
}
button{
    background-color: purple;
    color: azure;
}
button:hover{
    background-color: yellow;
    color: blue;
}
p:nth(2){
    color: yellow;
}
#mainTopic::first-letter{
    color: red;
} */
#top{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    padding: 30px;
    margin: 30px;
}
#one{
    border: 2px solid black;
    margin: 10px;
}
#two{
    border: 2px solid black;
    margin: 10px;
}
#three{
    border: 2px solid black;
    margin: 10px;
}