#main{
    width: 1000px;
    height: 70px;
    border: 2px solid blue;
    background-color: pink;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}
.boxes{
    height: 20px;
    margin: 30px;
}